@using Microsoft.AspNet.Identity
@using NaccNig.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Default/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/materialadmin.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/libs/rickshaw/rickshaw.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/libs/morris/morris.core.css" rel="stylesheet" />

    <!-- END STYLESHEETS -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
</head>
<body class="menubar-hoverable header-fixed ">

    <!-- BEGIN HEADER-->
    <header id="header">
        <div class="headerbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand">
                        <div class="brand-holder">
                            <a href="#">
                                <span class="text-lg text-bold text-success">NACC Nigeria</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="headerbar-right">
                <ul class="header-nav header-nav-options">
                    <li>
                        <!-- Search form -->
                        <form class="navbar-search" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
                            </div>
                            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                            <i class="fa fa-bell"></i><sup class="badge style-danger">4</sup>
                        </a>
                        <ul class="dropdown-menu animation-expand">
                            <li class="dropdown-header">Today's messages</li>
                            <li>
                                <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                                    <img class="pull-right img-circle dropdown-avatar" src="../../assets/img/avatar2.jpg?1404026449" alt="" />
                                    <strong>Alex Anistor</strong><br />
                                    <small>Testing functionality...</small>
                                </a>
                            </li>
                            <li>
                                <a class="alert alert-callout alert-info" href="javascript:void(0);">
                                    <img class="pull-right img-circle dropdown-avatar" src="~/images/avatar3.jpg?1404026799" alt="" />
                                    <strong>Alicia Adell</strong><br />
                                    <small>Reviewing last changes...</small>
                                </a>
                            </li>
                            <li class="dropdown-header">Options</li>
                            <li><a href="../../html/pages/login.html">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
                            <li><a href="../../html/pages/login.html">Mark as read <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                    <li class="dropdown hidden-xs">
                        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                            <i class="fa fa-area-chart"></i>
                        </a>
                        <ul class="dropdown-menu animation-expand">
                            <li class="dropdown-header">Server load</li>
                            <li class="dropdown-progress">
                                <a href="javascript:void(0);">
                                    <div class="dropdown-label">
                                        <span class="text-light">Server load <strong>Today</strong></span>
                                        <strong class="pull-right">93%</strong>
                                    </div>
                                    <div class="progress"><div class="progress-bar progress-bar-danger" style="width: 93%"></div></div>
                                </a>
                            </li><!--end .dropdown-progress -->
                            <li class="dropdown-progress">
                                <a href="javascript:void(0);">
                                    <div class="dropdown-label">
                                        <span class="text-light">Server load <strong>Yesterday</strong></span>
                                        <strong class="pull-right">30%</strong>
                                    </div>
                                    <div class="progress"><div class="progress-bar progress-bar-success" style="width: 30%"></div></div>
                                </a>
                            </li><!--end .dropdown-progress -->
                            <li class="dropdown-progress">
                                <a href="javascript:void(0);">
                                    <div class="dropdown-label">
                                        <span class="text-light">Server load <strong>Lastweek</strong></span>
                                        <strong class="pull-right">74%</strong>
                                    </div>
                                    <div class="progress"><div class="progress-bar progress-bar-warning" style="width: 74%"></div></div>
                                </a>
                            </li><!--end .dropdown-progress -->
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                </ul><!--end .header-nav-options -->
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="header-nav header-nav-profile">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                                    <img src="~/images/avatar1.jpg" alt="" />
                                    <span class="profile-info">
                                        @User.Identity.Name
                                        @if (User.IsInRole(RoleName.Admin))
                                        {<small>Administrator</small>}
                                        @if (User.IsInRole(RoleName.ActiveMember))
                                        {<small> Active Member </small>}
                                        @if (User.IsInRole(RoleName.PastMember))
                                        {<small> Past Member </small>}
                                    </span>
                                </a>

                                <ul class="dropdown-menu animation-dock">
                                    <li class="dropdown-header">Config</li>
                                    <li><a href="@Url.Action("MyProfile","ActiveMembers")">My profile</a></li>
                                    <li><a href="@Url.Action("BlogLists","ActiveMembers")">Blog Lists<span class="badge style-danger pull-right">@ViewBag.Blog</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="../../html/pages/locked.html"><i class="fa fa-fw fa-lock"></i> Lock</a></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                                </ul>
                                <!--end .dropdown-menu -->
                            </li><!--end .dropdown -->
                        </ul><!--end .header-nav-profile -->
                    }
                }<!--end .header-nav-toggle -->
            </div><!--end #header-navbar-collapse -->
        </div>
    </header>
    <!-- END HEADER-->
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->

        @RenderBody()
        <!-- BEGIN MENUBAR-->
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a href="@Url.Action("Index","Home")">
                        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                    </a>
                </div>
            </div>
            @if (User.IsInRole(RoleName.Admin))
    {
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="@Url.Action("Dashboard","Home")" class="active">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->
                <!-- BEGIN EMAIL -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="md md-email"></i></div>
                        <span class="title">Manage Blog</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="@Url.Action("Create","BlogLists")"><span class="title">Create Blog List</span></a></li>
                        <li><a href="@Url.Action("Create","BlogPosts")"><span class="title">Create Posts</span></a></li>
                        <li><a href="../../html/mail/reply.html"><span class="title">Reply</span></a></li>
                        <li><a href="../../html/mail/message.html"><span class="title">View message</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END EMAIL -->
                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="#">
                        <div class="gui-icon"><i class="md md-web"></i></div>
                        <span class="title">Create Payments</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->
                <!-- BEGIN UI -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
                        <span class="title">Manage Members</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="@Url.Action("ActiveMemberList","Home")"><span class="title">Active Members</span></a></li>
                        <li><a href="@Url.Action("PastMemberList","Home")"><span class="title">Past Members</span></a></li>
                        <li><a href="#"><span class="title">Executive Members</span></a></li>
                        <li><a href="#"><span class="title">Others</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END UI -->
                <!-- BEGIN TABLES -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="md md-payment"></i></div>
                        <span class="title">Manage Payment</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Member Registration</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="@Url.Action("Create","MemberRegistrations")"><span class="title">Create Payment List</span></a></li>
                                <li><a href="@Url.Action("Index","MemberRegistrations", new { })"><span class="title">Edit Payment List</span></a></li>
                                <li><a href="@Url.Action("Index","MemberRegistrations",  new {})"><span class="title">Delete Payment List</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Monthly Dues</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="@Url.Action("Create","MonthlyDues")"><span class="title">Create Payment List</span></a></li>
                                <li><a href="@Url.Action("Index","MonthlyDues")"><span class="title">Edit Payment List</span></a></li>
                                <li><a href="@Url.Action("Index","MonthlyDues")"><span class="title">Delete Payment List</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Donations</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="@Url.Action("Create","Donations")"><span class="title">Create Payment List</span></a></li>
                                <li><a href="@Url.Action("Index","Donations")"><span class="title">Edit Payment List</span></a></li>
                                <li><a href="@Url.Action("Index","Donations")"><span class="title">Delete Payment List</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Error pages</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/404.html"><span class="title">404 page</span></a></li>
                                <li><a href="../../html/pages/500.html"><span class="title">500 page</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END TABLES -->
                <!-- BEGIN FORMS -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                        <span class="title">Forms</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="../../html/forms/basic.html"><span class="title">Form basic</span></a></li>
                        <li><a href="../../html/forms/advanced.html"><span class="title">Form advanced</span></a></li>
                        <li><a href="../../html/forms/layouts.html"><span class="title">Form layouts</span></a></li>
                        <li><a href="../../html/forms/editors.html"><span class="title">Editors</span></a></li>
                        <li><a href="../../html/forms/validation.html"><span class="title">Form validation</span></a></li>
                        <li><a href="../../html/forms/wizard.html"><span class="title">Form wizard</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END FORMS -->
                <!-- BEGIN PAGES -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="md md-computer"></i></div>
                        <span class="title">Pages</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Contacts</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/contacts/search.html"><span class="title">Search</span></a></li>
                                <li><a href="../../html/pages/contacts/details.html"><span class="title">Contact card</span></a></li>
                                <li><a href="../../html/pages/contacts/add.html"><span class="title">Insert contact</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Search</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/search/results-text.html"><span class="title">Results - Text</span></a></li>
                                <li><a href="../../html/pages/search/results-text-image.html"><span class="title">Results - Text and Image</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Blog</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/blog/masonry.html"><span class="title">Blog masonry</span></a></li>
                                <li><a href="../../html/pages/blog/list.html"><span class="title">Blog list</span></a></li>
                                <li><a href="../../html/pages/blog/post.html"><span class="title">Blog post</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Error pages</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/404.html"><span class="title">404 page</span></a></li>
                                <li><a href="../../html/pages/500.html"><span class="title">500 page</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li><a href="../../html/pages/profile.html"><span class="title">User profile<span class="badge style-accent">42</span></span></a></li>
                        <li><a href="../../html/pages/invoice.html"><span class="title">Invoice</span></a></li>
                        <li><a href="../../html/pages/calendar.html"><span class="title">Calendar</span></a></li>
                        <li><a href="../../html/pages/pricing.html"><span class="title">Pricing</span></a></li>
                        <li><a href="../../html/pages/timeline.html"><span class="title">Timeline</span></a></li>
                        <li><a href="../../html/pages/maps.html"><span class="title">Maps</span></a></li>
                        <li><a href="../../html/pages/locked.html"><span class="title">Lock screen</span></a></li>
                        <li><a href="../../html/pages/login.html"><span class="title">Login</span></a></li>
                        <li><a href="../../html/pages/blank.html"><span class="title">Blank page</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END FORMS -->
                <!-- BEGIN CHARTS -->
                <li>
                    <a href="../../html/charts/charts.html">
                        <div class="gui-icon"><i class="md md-assessment"></i></div>
                        <span class="title">Charts</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END CHARTS -->
                <!-- BEGIN LEVELS -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                        <span class="title">Menu levels demo</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="#"><span class="title">Item 1</span></a></li>
                        <li><a href="#"><span class="title">Item 1</span></a></li>
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Open level 2</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="#"><span class="title">Item 2</span></a></li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Open level 3</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="#"><span class="title">Item 3</span></a></li>
                                        <li><a href="#"><span class="title">Item 3</span></a></li>
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Open level 4</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="#"><span class="title">Item 4</span></a></li>
                                                <li class="gui-folder">
                                                    <a href="javascript:void(0);">
                                                        <span class="title">Open level 5</span>
                                                    </a>
                                                    <!--start submenu -->
                                                    <ul>
                                                        <li><a href="#"><span class="title">Item 5</span></a></li>
                                                        <li><a href="#"><span class="title">Item 5</span></a></li>
                                                    </ul><!--end /submenu -->
                                                </li><!--end /submenu-li -->
                                            </ul><!--end /submenu -->
                                        </li><!--end /submenu-li -->
                                    </ul><!--end /submenu -->
                                </li><!--end /submenu-li -->
                            </ul><!--end /submenu -->
                        </li><!--end /submenu-li -->
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END LEVELS -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong>Sebig Solutions</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
}
             
                 <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="@Url.Action("Dashboard", "ActiveMembers")" class="active">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->
                <!-- BEGIN EMAIL -->
                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="@Url.Action("BlogLists", "ActiveMembers")">
                        <div class="gui-icon"><i class="md md-web"></i></div>
                        <span class="title">Blog Lists</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->
                <!-- BEGIN UI -->
                <li>
                    <a href="@Url.Action("ProfileUpdate", "ActiveMembers", new { id = Model.MemberId})">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Profile Update</span>
                    </a>
                </li>
                <!-- END UI -->
                <!-- BEGIN TABLES -->
                <li>
                    <a href="@Url.Action("MyPayments", "ActiveMembers")">
                        <div class="gui-icon"><i class="md md-payment"></i></div>
                        <span class="title">My Payments</span>
                    </a>
                </li>
                <!-- END TABLES -->
                <!-- BEGIN FORMS -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                        <span class="title">Forms</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="../../html/forms/basic.html"><span class="title">Form basic</span></a></li>
                        <li><a href="../../html/forms/advanced.html"><span class="title">Form advanced</span></a></li>
                        <li><a href="../../html/forms/layouts.html"><span class="title">Form layouts</span></a></li>
                        <li><a href="../../html/forms/editors.html"><span class="title">Editors</span></a></li>
                        <li><a href="../../html/forms/validation.html"><span class="title">Form validation</span></a></li>
                        <li><a href="../../html/forms/wizard.html"><span class="title">Form wizard</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END FORMS -->
                <!-- BEGIN PAGES -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="md md-computer"></i></div>
                        <span class="title">Pages</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Contacts</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/contacts/search.html"><span class="title">Search</span></a></li>
                                <li><a href="../../html/pages/contacts/details.html"><span class="title">Contact card</span></a></li>
                                <li><a href="../../html/pages/contacts/add.html"><span class="title">Insert contact</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Search</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/search/results-text.html"><span class="title">Results - Text</span></a></li>
                                <li><a href="../../html/pages/search/results-text-image.html"><span class="title">Results - Text and Image</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Blog</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/blog/masonry.html"><span class="title">Blog masonry</span></a></li>
                                <li><a href="../../html/pages/blog/list.html"><span class="title">Blog list</span></a></li>
                                <li><a href="../../html/pages/blog/post.html"><span class="title">Blog post</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Error pages</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/pages/404.html"><span class="title">404 page</span></a></li>
                                <li><a href="../../html/pages/500.html"><span class="title">500 page</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                        <li><a href="../../html/pages/profile.html"><span class="title">User profile<span class="badge style-accent">42</span></span></a></li>
                        <li><a href="../../html/pages/invoice.html"><span class="title">Invoice</span></a></li>
                        <li><a href="../../html/pages/calendar.html"><span class="title">Calendar</span></a></li>
                        <li><a href="../../html/pages/pricing.html"><span class="title">Pricing</span></a></li>
                        <li><a href="../../html/pages/timeline.html"><span class="title">Timeline</span></a></li>
                        <li><a href="../../html/pages/maps.html"><span class="title">Maps</span></a></li>
                        <li><a href="../../html/pages/locked.html"><span class="title">Lock screen</span></a></li>
                        <li><a href="../../html/pages/login.html"><span class="title">Login</span></a></li>
                        <li><a href="../../html/pages/blank.html"><span class="title">Blank page</span></a></li>
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END FORMS -->
                <!-- BEGIN CHARTS -->
                <li>
                    <a href="../../html/charts/charts.html">
                        <div class="gui-icon"><i class="md md-assessment"></i></div>
                        <span class="title">Charts</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END CHARTS -->
                <!-- BEGIN LEVELS -->
                <li class="gui-folder">
                    <a>
                        <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                        <span class="title">Menu levels demo</span>
                    </a>
                    <!--start submenu -->
                    <ul>
                        <li><a href="#"><span class="title">Item 1</span></a></li>
                        <li><a href="#"><span class="title">Item 1</span></a></li>
                        <li class="gui-folder">
                            <a href="javascript:void(0);">
                                <span class="title">Open level 2</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="#"><span class="title">Item 2</span></a></li>
                                <li class="gui-folder">
                                    <a href="javascript:void(0);">
                                        <span class="title">Open level 3</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="#"><span class="title">Item 3</span></a></li>
                                        <li><a href="#"><span class="title">Item 3</span></a></li>
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Open level 4</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="#"><span class="title">Item 4</span></a></li>
                                                <li class="gui-folder">
                                                    <a href="javascript:void(0);">
                                                        <span class="title">Open level 5</span>
                                                    </a>
                                                    <!--start submenu -->
                                                    <ul>
                                                        <li><a href="#"><span class="title">Item 5</span></a></li>
                                                        <li><a href="#"><span class="title">Item 5</span></a></li>
                                                    </ul><!--end /submenu -->
                                                </li><!--end /submenu-li -->
                                            </ul><!--end /submenu -->
                                        </li><!--end /submenu-li -->
                                    </ul><!--end /submenu -->
                                </li><!--end /submenu-li -->
                            </ul><!--end /submenu -->
                        </li><!--end /submenu-li -->
                    </ul><!--end /submenu -->
                </li><!--end /menu-li -->
                <!-- END LEVELS -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->

            <div class="menubar-foot-panel">
                <small class="no-linebreak hidden-folded">
                    <span class="opacity-75">Copyright &copy; @DateTime.Now.Year</span> <strong>Sebig Solutions</strong>
                </small>
            </div>
        </div><!--end .menubar-scroll-panel-->
            
        </div><!--end #menubar-->
        <!-- END MENUBAR -->
    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="~/Scripts/js/libs/jquery/jquery-1.11.2.js"></script>
    <script src="~/Scripts/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/libs/spin.js/spin.js"></script>
    <script src="~/Scripts/js/libs/autosize/jquery.autosize.js"></script>
    <script src="~/Scripts/js/libs/moment/moment.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.time.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/js/libs/flot/curvedLines.js"></script>
    <script src="~/Scripts/js/libs/jquery-knob/jquery.knob.js"></script>
    <script src="~/Scripts/js/libs/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/js/libs/nanoscroller/jquery.nanoscroller.js"></script>
    <script src="~/Scripts/js/libs/d3/d3.min.js"></script>
    <script src="~/Scripts/js/libs/d3/d3.v3.js"></script>
    <script src="~/Scripts/js/libs/rickshaw/rickshaw.js"></script>
    <script src="~/Scripts/js/core/source/App.js"></script>
    <script src="~/Scripts/js/core/source/AppNavigation.js"></script>
    <script src="~/Scripts/js/core/source/AppCard.js"></script>
    <script src="~/Scripts/js/core/source/AppOffcanvas.js"></script>
    <script src="~/Scripts/js/core/source/AppForm.js"></script>
    <script src="~/Scripts/js/core/source/AppNavSearch.js"></script>
    <script src="~/Scripts/js/core/source/AppVendor.js"></script>
    <script src="~/Scripts/js/core/demo/Demo.js"></script>
    <script src="~/Scripts/js/core/demo/DemoDashboard.js"></script>
    <!-- END JAVASCRIPT -->

</body>
</html>

