<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">


    <link href="~/Content/Dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Dashboard/css/datepicker3.css" rel="stylesheet">
    <link href="~/Content/Dashboard/css/styles.css" rel="stylesheet">

    <!--Icons-->
    <script src="~/Scripts/Dashboard/lumino.glyphs.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NACC Nigeria</p>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


        <script src="~/Scripts/Dashboard/jquery-1.11.1.min.js"></script>
        <script src="~/Scripts/Dashboard/bootstrap.min.js"></script>
        <script src="~/Scripts/Dashboard/chart.min.js"></script>
        <script src="~/Scripts/Dashboard/chart-data.js"></script>
        <script src="~/Scripts/Dashboard/easypiechart.js"></script>
        <script src="~/Scripts/Dashboard/easypiechart-data.js"></script>
        <script src="~/Scripts/Dashboard/bootstrap-datepicker.js"></script>
    </div>
</body>
</html>
