@using NaccNig.Models
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">

    <!-- Main styles for this application-->

    <link href="~/Content/Default/style.css" rel="stylesheet" />
    <link href="~/Content/Default/pace.css" rel="stylesheet" />
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <!--Icons-->
    <script src="~/Scripts/Dashboard/lumino.glyphs.js"></script>

</head>
<body>
    <br />
    <div class="container body-content">
        
        
               @if (Request.IsAuthenticated)
               {


                if (User.IsInRole(RoleName.Admin))
                {
                <a class="btn-sm btn-default" href="@Url.Action("Dashboard", "Home")">Back To Dashboard</a>
                }
                else
                {
           <a class="btn-sm btn-default"  href="@Url.Action("Dashboard", "ActiveMembers")">Back To Dashboard</a>
                }
                <a class="btn-sm btn-default"  href="@Url.Action("Index", "Home")">Back To Homepage</a>
               }
            
               

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NACC Nigeria</p>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


        <!-- Bootstrap and necessary plugins-->

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </div>
</body>
</html>
