<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1">
    <meta name="keywords" content="ebsu, ebus portal, ebsuportal, uniebon, uinversityebonyi, universityofebonyi nigeria, university of ebonyi, ebsu edu">

    <meta name="description" content="ebsu, ebus portal, ebsuportal, uniebon, uinversityebonyi, universityofebonyi nigeria, university of ebonyi, ebsu edu">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Gloria/images/favicon.ico">
    <title>EBSU-Portal</title>
    <!-- BEGIN STYLESHEETS -->
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Default/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/materialadmin.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/libs/rickshaw/rickshaw.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme-default/libs/morris/morris.core.css" rel="stylesheet" />

</head>
<body>
    <!-- Start Preloader -->
    <div id="loading">
        <div class="element">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Header -->
    <header>
        <!-- Start Header top Bar -->
        @*<div class="header-top">
                <div class="container clearfix">
                    <ul class="follow-us hidden-xs">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="right-block clearfix">
                        <ul class="top-nav hidden-xs">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Apply Online</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <div class="lang-wrapper">
                            <div class="select-lang">

                            </div>
                            <div class="select-lang2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- End Header top Bar -->
        <!-- Start Header Middle -->
        <div class="container header-middle">
            <div class="row">
                <span class="col-xs-6 col-sm-4"><a href="@Url.Action("Index","Home")"><img src="~/Content/Gloria/logo.png" class="img-responsive" alt=""></a></span>
                <div class="col-xs-6 col-sm-3"></div>
                <div class="col-xs-6 col-sm-8">
                    <div class="contact clearfix">
                        <ul class="hidden-xs">
                            <li> <span>Email</span> <a href="mailto:inf0o@ebsu.edu.ng.">info@ebsu.edu.ng</a> </li>
                            <li> <span>Phone Number</span> 07033865888 </li>
                        </ul>
                        <a href="@Url.Action("Login","Account")" class="login">Student Login <span class="icon-more-icon"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Middle -->
        <!-- Start Navigation -->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">

                    <ul class="nav navbar-nav">

                        <li> <a href="@Url.Action("Login","Account")">Login</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Manual
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Excel Template/AcceptanceManual.pdf">Admission Manual</a></li>
                                <li><a href="#">Supplementary Manual</a></li>
                                <li><a href="~/Excel Template/ReturningStudentManual.pdf">Returning Student Manual</a></li>
                            </ul>
                        </li>
                        @*<li><a href="@Url.Action("SignUp", "Account")">Create Portal Account </a></li>*@
                        <li> <a href="@Url.Action("AddmissionRegistration","Account")">Application forms</a></li>
                        <li>
                            <a href="@Url.Action("GetPaymentStatus","Remitaservices")">Check Payment Status </a>

                        </li>
                        <li> <a href="#">FAQs</a></li>
                        <li> <a href="https://ebsu.edu.ng" target="_blank">Website Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->
    @RenderBody()



    <!-- Start Footer -->

    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="container">
            <div class="row row1">
                <div class="col-sm-12 clearfix">
                    <div class="foot-nav">
                        <h3>Admission Forms</h3>
                        <ul>
                            <li><a href="@Url.Action("CheckAdmission","Account")">Supplementary Application form</a></li>

                            <li><a href="@Url.Action("AddmissionRegistration","Account")">Direct Entry Application Form</a></li>
                            <li><a href="@Url.Action("AddmissionRegistration","Account")">Post Graduate Application form</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                        <h3>Admission</h3>
                        <ul>
                            <li><a href="@Url.Action("SignUp","Account")">2017/2018 Admission Status</a></li>
                            <li><a href="@Url.Action("AddmissionRegistration","Account")">Concessional Application Form.</a></li>
                        </ul>
                    </div>
                    <div class="foot-nav">
                        <div class="footer-logo hidden-xs"><a href="@Url.Action("Index","Home")"><img src="~/Content/Gloria/logo.png" class="img-responsive" alt=""></a></div>

                    </div>
                    <div class="foot-nav">
                        <p>© @DateTime.Now.Year <span>EBSU</span>. All rights reserved</p>
                        <a href="https://compunetlimited.org" target="_blank">Designed by <img class="img-responsive" src="~/Content/Images/compunetLogo.png" height="150" width="160" /></a>
                    </div>
                </div>
                @*<div class="col-sm-3">
                        <div class="footer-logo hidden-xs"><a href="@Url.Action("Index","Home")"><img src="~/Content/Gloria/logo.png" class="img-responsive" alt=""></a></div>
                        <p>© @DateTime.Now.Year <span>EBSU</span>. All rights reserved</p>
                        <a href="https://compunetlimited.org" target="_blank">Designed by <img class="img-responsive" src="~/Content/Images/compunetLogo.png" height="150" width="160" /></a>

                    </div>*@
            </div>
        </div>
        <!-- End Footer Top -->

    </footer>
    <!-- End Footer -->
    <!-- Scroll to top -->
    <a href="index.html#" class="scroll-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

    <!-- BEGIN JAVASCRIPT -->
    <script src="~/Scripts/js/libs/jquery/jquery-1.11.2.js"></script>
    <script src="~/Scripts/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/js/libs/spin.js/spin.js"></script>
    <script src="~/Scripts/js/libs/autosize/jquery.autosize.js"></script>
    <script src="~/Scripts/js/libs/moment/moment.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.time.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.orderBars.js"></script>
    <script src="~/Scripts/js/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/js/libs/flot/curvedLines.js"></script>
    <script src="~/Scripts/js/libs/jquery-knob/jquery.knob.js"></script>
    <script src="~/Scripts/js/libs/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/js/libs/nanoscroller/jquery.nanoscroller.js"></script>
    <script src="~/Scripts/js/libs/d3/d3.min.js"></script>
    <script src="~/Scripts/js/libs/d3/d3.v3.js"></script>
    <script src="~/Scripts/js/libs/rickshaw/rickshaw.js"></script>
    <script src="~/Scripts/js/core/source/App.js"></script>
    <script src="~/Scripts/js/core/source/AppNavigation.js"></script>
    <script src="~/Scripts/js/core/source/AppCard.js"></script>
    <script src="~/Scripts/js/core/source/AppOffcanvas.js"></script>
    <script src="~/Scripts/js/core/source/AppForm.js"></script>
    <script src="~/Scripts/js/core/source/AppNavSearch.js"></script>
    <script src="~/Scripts/js/core/source/AppVendor.js"></script>
    <script src="~/Scripts/js/core/demo/Demo.js"></script>
    <script src="~/Scripts/js/core/demo/DemoDashboard.js"></script>
    <!-- END JAVASCRIPT -->
    <!--End of Tawk.to Script-->
    @RenderSection("scripts", required: false)
</body>
</html>