@model NaccNig.Models.Payments.MonthlyDues

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonthlyDues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActiveMember.StateOfDeployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveMember.StateOfDeployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaidMonthlyDues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaidMonthlyDues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonthlyDuesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
