@using NaccNigModels.Blog
@model IEnumerable<NaccNigModels.Blog.BlogList>
@{
    ViewBag.Title = "Post Lists";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<div id="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li class="active">Blog Lists</li>
            </ol>
        </div>
        <div class="section-body contain-lg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-tiles style-default-light">
                        <div class="row">

                            <!-- BEGIN ARTICLES -->
                            <div class="col-sm-9">
                                @foreach (var item in ViewBag.BlogList)
    {
                            <article>
                                <div class="card-body style-default-dark">
                                    <h2><a href="@Url.Action("BlogPost","ActiveMembers", new {id= item.BlogListId })">@item.BlogTitle</a></h2>
                                    <div class="opacity-75">@item.PublishedDate By <a href="#">@item.Author</a> </div>
                                    <div><b>Category: </b><span class="text-success">@item.BlogCategory.CategoryName</span></div>
                                </div>
                                <div class="card-body style-default-bright">
                                    <blockquote>
                                        <p>@item.Description</p>
                                    </blockquote>
                          
                                    <a class="btn btn-default" href="@Url.Action("BlogPost","ActiveMembers", new {id = item.BlogListId})">
                                    Read more</a>
                                </div>
                            </article><!-- end article -->
}

                            </div>
                            <!-- END ARTICLES -->
                            <!-- BEGIN BLOG MENUBAR -->
                            <div class="col-sm-3">
                                <div class="card-body">
                                    <h3 class="text-light">About</h3>
                                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                                    <h3 class="text-light">Archives</h3>
                                    <ul class="nav nav-pills nav-stacked nav-transparent">
                                        <li><a href="#"><span class="badge pull-right">42</span>Design</a></li>
                                        <li><a href="#"><span class="badge pull-right">56</span>January 2014</a></li>
                                        <li><a href="#"><span class="badge pull-right">32</span>December 2013</a></li>
                                        <li><a href="#"><span class="badge pull-right">19</span>November 2013</a></li>
                                        <li><a href="#"><span class="badge pull-right">22</span>October 2013</a></li>
                                        <li><a href="#"><span class="badge pull-right">14</span>September 2013</a></li>
                                        <li><a href="#"><span class="badge pull-right">5</span>August 2013</a></li>
                                    </ul>
                                    <h3 class="text-light">Elsewhere</h3>
                                    <ul class="nav nav-pills nav-stacked nav-transparent">
                                        <li><a href="#">GitHub</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Facebook</a></li>
                                    </ul>
                                </div><!-- .card-body -->
                            </div><!--end .col -->
                            <!-- BEGIN BLOG MENUBAR -->
                        </div><!-- .row -->
                    </div>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- BEGIN PAGINATION -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul class="pagination pagination-lg">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div><!--end .col -->
            </div><!--end .row -->
            <!-- END PAGINATION -->

        </div><!--end .section-body -->
    </section>
</div><!--end #content-->
<!-- END CONTENT -->
