@model IEnumerable<NaccNigModels.Payment.PaymentSetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActiveMember.StateOfDeployment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveMember.StateOfDeployment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentId })
        </td>
    </tr>
}

</table>
