@model IEnumerable<NaccNig.Models.Payments.MemberRegistration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActiveMember.StateOfDeployment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaidRegistrationFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveMember.StateOfDeployment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaidRegistrationFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberRegistrationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberRegistrationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberRegistrationId })
        </td>
    </tr>
}

</table>
