@using NaccNig.Models
@model NaccNig.Models.Blog.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Default.cshtml";
}
<br />
<br />
<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            --author @Model.Author.UserName
        </small>
        <footer class="pull-right">
            @if (User.IsInRole(RoleName.Admin) || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })

            }
            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>

    <div class="row-border" id="commentedPost">
        @if (Model.Comments != null)
        {
         // @model IEnumerable<NaccNig.Models.Blog.Article>
        @Html.Partial("CommentList");
        }
    </div>
</div>

<div class="row-border">
    @Html.Partial("Comment");

</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/Article/CommentList", function (data) {
                var items = "";
                $.each(data, function (index, row) {
                    items += "<div class='comment-area'>" +row.Comments.CommentDetail+ "</div>";
                    $("#commentedPost").html(items); 
                });
            });

        });
    </script>
}






