@model NaccNigModels.Executives.StateExco

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StateExco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActiveMember.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveMember.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio.PortfolioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio.PortfolioName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateExcoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateExcoId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
