@using NaccNig.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/Default.cshtml";
    ViewBag.Title = "Login";
}
        <div class="section-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                   <p class="text-center"> @ViewBag.Message </p>

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="head agile">
                            <div class="login w3">
                                <div class="sap_tabs">
                                    <div id="horizontalTab" style="display: inline-table; width: 100%; margin: 0px;">

                                        <h1 class="text-center">NACC LOGIN</h1>
                                        <hr />

                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="resp-tabs-container">
                                            <div class="tab-1 resp-tab-content">
                                                <div class="login-top agileinfo">

                                                    <div class="w3_agileits_main_grid w3l_main_grid">
                                                        <div class="agileits_grid">
                                                            <h4 class="text-success"><i>E-mail Address </i></h4>
                                                            <div class="name">
                                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="agileits_grid">
                                                            <h4 class="text-success"><i>Password</i></h4>
                                                            <div class="password">
                                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="agileits_grid">
                                    <button class="btn btn-primary">Login</button>
                                    <p class="text-warning text-right">@Html.ActionLink("No Account yet?", "Register")</p>
                                </div>
                                <p class="action-bottom"> @Html.ActionLink("Forgot Password", "ForgotPassword")</p>

                            </div>
                                                </div>
                                           
                    }
                    </div>
                </div>
            </div>
    
