@using NaccNig.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/Default.cshtml";
    ViewBag.Title = "Login";
}
     
 <body class="app flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
                    @Html.AntiForgeryToken()
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m=>m.Email, htmlAttributes: new { @class="form-control", @placeholder="eMail Address"})
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn  btn-success" style="width:100%">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <p class="action-bottom"> @Html.ActionLink("Forgot Password?", "ForgotPassword")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-success py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>

                                    <img src="~/images/nacclogo.png"  height="200"  width="200"/>
                                    <p type="button" class="btn btn-default">@Html.ActionLink("No Account yet?", "Register")</p>
                                </div>
                            </div>
                        </div>
                    </div>

        }
        </div>
</div>
</div>
</body>