
@{
    ViewBag.Title = "MemberList";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

!-- BEGIN CONTENT-->

<div id="content">
    <section>
        <div class="section-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-info">ACTIVE MEMBERS</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Fullname</th>
                            <th>State Code</th>
                            <th>Call Up Number</th>
                            <th>State Of Origin</th>
                            <th>State Of Deployment</th>
                            <th>Phone Number</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Action</th>
                        </tr>
                        @foreach(var a in ViewBag.ActMem)
                        {
                        <tr>
                            <td>@a.Fullname</td>
                            <td>@a.StateCode</td>
                            <td>@a.CallUpNumber</td>
                            <td>@a.StateOfOrigin</td>
                            <td>@a.StateOfDeployment</td>
                            <td>@a.PhoneNumber</td>
                            <td>@a.Gender</td>
                            <td>@a.Age</td>
                            <th><a href="@Url.Action("Delete","ActiveMembers", new { Id = a.ActiveMemberId})">Remove Member</a></th>
                        </tr>
                        }

                    </table>

                </div>

                </div>
            </div>
        </section>
        </div>



